<section class="section block-winners">
  <div class="container">
    {{#each sections}}
    <div class="block-winners__container">
      <div class="block-winners__title-wrap">
        <h3 class="block-winners__title">{{blockTitle}}</h3>
        <a href="{{link}}" class="block-winners__link">
          Все проекты
          {{{getSvg src="arrow-right-gray"}}}
        </a>
      </div>
      <p class="block-winners__descr">{{descr}}</p>
      <div class="block-winners__wrap{{#if classNames}} {{classNames}}{{/if}}">
        {{#each list}}
        <div class="block-winners__item js-modal-content js-vote-project">
          {{#if tag}}
            <div class="block-winners__tag">{{tag}}</div>
          {{/if}}
          <div class="block-winners__item__title">
            <span class="js-project-name">
              {{itemTitle}}
            </span>
          </div>
          <div class="block-winners__item__person">
            <div class="block-winners__item__img">
              <img src="https://team.t1.ru/api/file-service/user/3a0bae68-282a-568c-6b10-e9f52dae541f/avatar?size=thumb"
                alt="image">
            </div>
            <div class="block-winners__item__info">
              <div class="block-winners__item__name">{{name}}</div>
              <div class="block-winners__item__position">{{position}}</div>
            </div>
          </div>
          <p class="block-winners__item__text">
            {{{text}}}
          </p>
          <div class="block-winners__item__bot">
            <a href="{{href}}" class="block-winners__item__tag">
              Видео о проекте
              {{{getSvg src='arrow-right'}}}
            </a>
          </div>
          <div class="block-winners__slider">
              {{#> sliders/swiper class="js-slider-winners" customPagination=true arrows=true}}
                {{#each slides}}
                  {{#> sliders/swiper__slide }}
                    <div class="block-winners__slider__item">
                      <div class="block-winners__slider__item__img js-image-wrap">
                        {{{getImg src=img}}}
                      </div>
                      <div class="block-winners__slider__item__title">{{title}}</div>
                    </div>
                  {{/sliders/swiper__slide}}
                {{/each}}
              {{/sliders/swiper}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    {{/each}}
  </div>
</section>