<section class="section block-nominations" id="nominations">
  <div class="container">
    <h2 class="block-nominations__title">{{{title}}}</h2>
    <div class="block-nominations__wrap">
      {{#each list}}
      <div class="block-nominations__item">
        <div class="block-nominations__item__img">
          {{{getImg src=img}}}
        </div>
        <div class="block-nominations__item__title">{{title}}</div>
        <div class="block-nominations__item__descr">{{{descr}}}</div>
        <div class="block-nominations__item__button js-open-modal" {{#if target}} data-target="{{target}}"{{/if}}>
          Подробнее <span>{{{getImg src="arrow.png"}}}</span>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>