<section class="section block-step-line" id="stages">
  <div class="container">
    <h2 class="block-step-line__title">{{title}}</h2>
    <div class="block-step-line__wrap">
      {{#each list}}
        <div class="block-step-line__row">
          <p class="block-step-line__row__date">{{date}}</p>
          <div class="block-step-line__row__point"></div>
          <div class="block-step-line__row__text">
            <p class="block-step-line__row__text__title">{{title}}</p>
            <div class="block-step-line__row__text__info">
              <p class="block-step-line__row__text__info__stage">{{stage}}</p>
              <p class="block-step-line__row__text__info__title">{{title}}</p>
              <p class="block-step-line__row__text__info__descr">{{{descr}}}</p>
            </div>
          </div>
        </div>
      {{/each}}      
    </div>
  </div>
</section>