<section class="section block-nominations" id="nominations">
  <div class="container">
    <h2 class="section__title">{{title}}</h2>
    <div class="block-nominations__wrap">
      {{#each list}}
      <div class="block-nominations__item">
        <div class="block-nominations__item__img">
          {{{getImg src=img}}}
        </div>
        <div class="block-nominations__item__title">{{title}}</div>
        <div class="block-nominations__item__descr">{{{descr}}}</div>
        <div class="block-nominations__item__arrow">{{{getSvg src="arrow"}}}</div>
        <div class="block-nominations__item__buttons">
          <div class="block-nominations__item__tip js-open-modal" {{#if target}} data-target="{{target}}"{{/if}}>
            {{{getSvg src='i-icon'}}}
            Подробнее о номинации
          </div>
          <a href="{{href}}" class="block-nominations__item__link btn btn-white">{{btnLabel}}</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>