<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__top__logo">
          {{{getImg src="logo-footer.png"}}}
      </div>
      <div class="footer__top__buttons">
        <a href="https://team.t1.ru/" target="_blank" class="footer__top__button">
          {{{getImg src="icon-logo-t1.png"}}}
        </a>
        <a href="https://t.me/+P0AVnqO2WfYyMTQ6" target="_blank" class="footer__top__button">
          {{{getImg src="icon-logo-tg.png"}}}
        </a>
      </div>
    </div>
  </div>

  {{>modals/modals}}

    <div class="vote-modal__wrap js-vote-modal-wrap">
  {{#with this.store.content.content1}}
  {{#each sections}}
      <div class="vote-modal" id="{{id}}">
        <div class="vote-modal__info">
          <div class="vote-modal__info__title">Ваш голос учтён!</div>
          <div class="vote-modal__info__descr">
            Не забудьте проголосовать по другим категориям данной номинации.
          </div>
        </div>
        <div class="vote-modal__btn">Проголосовать</div>
      </div>
  {{/each}}
  {{/with}}
  {{#with this.store.content.content2}}
    {{#each sections}}
      <div class="vote-modal" id="{{id}}">
        <div class="vote-modal__info">
          <div class="vote-modal__info__title">Ваш голос учтён!</div>
          <div class="vote-modal__info__descr">
            Не забудьте проголосовать по другим категориям данной номинации.
          </div>
        </div>
        <div class="vote-modal__btn">Проголосовать</div>
      </div>
    {{/each}}
  {{/with}}
      </div>
</footer>